<template>
  <v-main style="">
    <v-container fluid class="text-center">
      <v-toolbar
        flat
      >
        <v-toolbar-title>Pagina 2</v-toolbar-title>
      </v-toolbar>
      <v-card
        elevation="12"
        color="white"
        class="pl-1 pt-3 rounded-xl blue-grey lighten-5"
        rounded
      >
        <v-chip class="px-4 py-2 rounded-0 rounded-l-xl" dark>
          <span class="d-inline-block">Tamaño</span>
          <span class="pl-1 d-none d-sm-inline-block">de pantalla</span>:
        </v-chip>
        <v-chip class="px-4 py-2 rounded-0 rounded-r-xl" color="primary">
          <span class="d-inline-block d-sm-none">XS</span>
          <span class="d-none d-sm-inline-block d-md-none">Pequeño</span>
          <span class="d-none d-md-inline-block d-lg-none">Mediano</span>
          <span class="d-none d-lg-inline-block d-xl-none">Grande</span>
          <span class="d-none d-xl-inline-block">XL</span>
        </v-chip>
        <v-toolbar-title style="visibility:hidden;">CRUD genérico</v-toolbar-title>
        <v-container class="">
          <v-row
            class="justify-space-around">
            <v-col
              cols="12"
              sm="8"
              md="7"
              lg="6"
            >
              <v-text-field
                v-model="search"
                class=""
                append-icon="mdi-magnify"
                label="Buscar"
                single-line
                hide-details
                filled
                rounded
                dense
              ></v-text-field>
            </v-col>
            <v-col
              cols="auto"
            >
              <v-btn
                v-on:click="doNew"
                color="success"
                class="mb-2 d-inline-block myHover btnPlus"
                rounded
                small
                fab
              >
                <v-icon
                  medium
                >
                  mdi-plus
                </v-icon>
              </v-btn>
            </v-col>
          </v-row>
        </v-container>
        <v-row class="align-center justify-center">
          <v-col
            cols="12"
            sm="10"
            md="8"
            lg="7"
          >
            <v-data-table
                :headers="headers"
                :items="desserts"
                :search="search"
                sort-by="calories"
                class="elevation-1 rounded-xl"
                hide-default-footer
                dense dark
              >
                <template v-slot:[`item.calories`]="{ item }">
                  <v-chip
                    :color="getColor(item.calories)"
                    small
                    dark
                  >
                    {{ item.calories }}
                  </v-chip>
                </template>
                <template v-slot:top>
                  <v-toolbar
                    flat
                  >
                    <v-dialog
                      v-model="dialog"
                      max-width="500px"
                    >
                      <template v-slot:activator="{ on, attrs }">
                        <v-btn
                          v-bind="attrs"
                          v-on="on"
                          class="btnNew d-none"
                          color="success"
                          dark
                          rounded
                        >
                          +
                        </v-btn>
                      </template>
                      <v-card>
                        <v-card-title>
                          <span class="headline">{{ formTitle }}</span>
                        </v-card-title>
                        <v-card-text>
                          <v-container>
                            <v-row>
                              <v-col
                                cols="12"
                                sm="6"
                                md="4"
                              >
                                <v-text-field
                                  v-model="editedItem.name"
                                  label="Dessert name"
                                ></v-text-field>
                              </v-col>
                              <v-col
                                cols="12"
                                sm="6"
                                md="4"
                              >
                                <v-text-field
                                  v-model="editedItem.calories"
                                  label="Calories"
                                ></v-text-field>
                              </v-col>
                              <v-col
                                cols="12"
                                sm="6"
                                md="4"
                              >
                                <v-text-field
                                  v-model="editedItem.fat"
                                  label="Fat (g)"
                                ></v-text-field>
                              </v-col>
                              <v-col
                                cols="12"
                                sm="6"
                                md="4"
                              >
                                <v-text-field
                                  v-model="editedItem.carbs"
                                  label="Carbs (g)"
                                ></v-text-field>
                              </v-col>
                              <v-col
                                cols="12"
                                sm="6"
                                md="4"
                              >
                                <v-text-field
                                  v-model="editedItem.protein"
                                  label="Protein (g)"
                                ></v-text-field>
                              </v-col>
                            </v-row>
                          </v-container>
                        </v-card-text>

                        <v-card-actions>
                          <v-spacer></v-spacer>
                          <v-btn
                            color="blue darken-1"
                            text
                            @click="close"
                          >
                            Cancel
                          </v-btn>
                          <v-btn
                            color="blue darken-1"
                            text
                            @click="save"
                          >
                            Save
                          </v-btn>
                        </v-card-actions>
                      </v-card>
                    </v-dialog>
                    <v-dialog v-model="dialogDelete" max-width="500px">
                      <v-card>
                        <v-card-title class="headline">
                          Are you sure you want to delete this item?
                        </v-card-title>
                        <v-card-actions>
                          <v-spacer></v-spacer>
                          <v-btn color="blue darken-1" text @click="closeDelete">Cancel</v-btn>
                          <v-btn color="blue darken-1" text @click="deleteItemConfirm">OK</v-btn>
                          <v-spacer></v-spacer>
                        </v-card-actions>
                      </v-card>
                    </v-dialog>
                  </v-toolbar>
                </template>
                <template v-slot:[`item.actions`]="{ item }">
                  <v-icon
                    small
                    class="mr-2 orange--text myHover"
                    @click="editItem(item)"
                  >
                    mdi-pencil
                  </v-icon>
                  <v-icon
                    small
                    class="red--text myHover"
                    @click="deleteItem(item)"
                  >
                    mdi-delete
                  </v-icon>
                </template>
                <template v-slot:no-data>
                  <v-btn
                    color="primary"
                    @click="initialize"
                  >
                    Reset
                  </v-btn>
                </template>
            </v-data-table>
          </v-col>
        </v-row>
      </v-card>
    </v-container>
  </v-main>
</template>

v-toolbar
v-card
v-data-table
v-row
v-col
v-text-field
v-dialog
v-icon
v-btn
v-chip

<script>
export default {
  data: () => ({
    dialog: false,
    dialogDelete: false,
    search: '',
    headers: [
      {
        text: 'Dessert',
        align: 'start',
        sortable: false,
        value: 'name',
      },
      { text: 'Calories', value: 'calories', sortable: false },
      { text: 'Fat', value: 'fat', sortable: false },
      { text: 'Carbs', value: 'carbs', sortable: false },
      { text: 'Protein', value: 'protein', sortable: false },
      { text: 'Actions', value: 'actions', sortable: false },
    ],
    desserts: [],
    editedIndex: -1,
    editedItem: {
      name: '',
      calories: 0,
      fat: 0,
      carbs: 0,
      protein: 0,
    },
    defaultItem: {
      name: '',
      calories: 0,
      fat: 0,
      carbs: 0,
      protein: 0,
    },
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? 'New Item' : 'Edit Item';
    },
  },

  watch: {
    dialog(val) {
      return val || this.close();
    },
    dialogDelete(val) {
      return val || this.closeDelete();
    },
  },

  created() {
    this.initialize();
  },

  methods: {
    initialize() {
      this.desserts = [
        {
          name: 'Frozen Yogurt',
          calories: 159,
          fat: 6.0,
          carbs: 24,
          protein: 4.0,
        },
        {
          name: 'Ice cream sandwich',
          calories: 237,
          fat: 9.0,
          carbs: 37,
          protein: 4.3,
        },
        {
          name: 'Eclair',
          calories: 262,
          fat: 16.0,
          carbs: 23,
          protein: 6.0,
        },
        {
          name: 'Cupcake',
          calories: 305,
          fat: 3.7,
          carbs: 67,
          protein: 4.3,
        },
        {
          name: 'Gingerbread',
          calories: 356,
          fat: 16.0,
          carbs: 49,
          protein: 3.9,
        },
        {
          name: 'Jelly bean',
          calories: 375,
          fat: 0.0,
          carbs: 94,
          protein: 0.0,
        },
        {
          name: 'Lollipop',
          calories: 392,
          fat: 0.2,
          carbs: 98,
          protein: 0,
        },
        {
          name: 'Honeycomb',
          calories: 408,
          fat: 3.2,
          carbs: 87,
          protein: 6.5,
        },
        {
          name: 'Donut',
          calories: 452,
          fat: 25.0,
          carbs: 51,
          protein: 4.9,
        },
        {
          name: 'KitKat',
          calories: 518,
          fat: 26.0,
          carbs: 65,
          protein: 7,
        },
      ];
    },

    editItem(item) {
      this.editedIndex = this.desserts.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      this.editedIndex = this.desserts.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialogDelete = true;
    },

    deleteItemConfirm() {
      this.desserts.splice(this.editedIndex, 1);
      this.closeDelete();
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    closeDelete() {
      this.dialogDelete = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    save() {
      if (this.editedIndex > -1) {
        Object.assign(this.desserts[this.editedIndex], this.editedItem);
      } else {
        this.desserts.push(this.editedItem);
      }
      this.close();
    },
    getColor(calories) {
      let colorRet = '';
      if (calories > 400) colorRet = 'red';
      else if (calories > 200) colorRet = 'orange';
      else colorRet = 'green';
      return colorRet;
    },
    doNew(event) {
      document.querySelector('.btnNew').click();
      if (event) {
        console.log(event.target.tagName);
      }
    },
  },
};
</script>

<style lang="scss">
div.v-applicadtion--wrap_X {
    background: #000;
}
.myHover:hover
{
    transform: scale(1.8);
    transform-origin: center;
}
.btnPlus.myHover:hover
{
    transform: scale(1.2);
}

@media (max-width: 600px) {
  .mb-2 > span:nth-child(1)
  {
    display: block;
  }
  header.theme--dark{
    height: 92px !important;
  }
  header.theme--dark > div:nth-child(1){
    height: 92px !important;
  }
}

.v-application .rounded-xl header
{
  display: none;
}
</style>
